# Auto detect text files and perform LF normalization
* text=auto
build_artifacts/*.zip filter=lfs diff=lfs merge=lfs -text
build_artifacts/*.tar.gz filter=lfs diff=lfs merge=lfs -text
build_artifacts/*.exe filter=lfs diff=lfs merge=lfs -text
